/*
 * This file is part of OpenFuelMap.
 *
 * OpenFuelMap is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * any later version.
 *
 * OpenFuelMap is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with OpenFuelMap.  If not, see <http://www.gnu.org/licenses/>.
 */

/** General style **/
html, body {
	font-family: Arial, sans;
}

.ofm-body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

a {
	color: #1E8BC3;
	text-decoration: none;
}

header {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 50px;
	background-color: #2574A9;
	color: #d2d7d3;
	border-bottom: 1px solid #6C7A89;
	display: flex;
	align-items: center;
}

header img.logo {
	height: 40px;
	margin-left: 10px;
}

header h1 {
	font-style: italic;
	line-height: 50px;
	font-size: 20px;
	color: white;
	margin: 0 auto;
	white-space: nowrap;
}

header a {
	color: white;
}

header a.fa {
	margin-right: 10px;
}

#openfuelmap {
	position: absolute;
	top: 51px;
	left: 0;
	right: 0;
	bottom: 0;
}


/**
 * Main view
 */

.ofm-main div.hidden {
	display: none;
}

.ofm-station-map {
	position: absolute !important;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

.ofm-station-details {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	margin-right: auto;
	margin-left: auto;
	z-index: 10000;
}

.ofm-alert {
	position: absolute;
	top: 0;
	right: 0;
	max-width: 70%;
	border-bottom-left-radius: 10px;
	z-index: 10000;
	padding: 10px;
}


/**
 * Station map
 */

.leaflet-left .leaflet-control {
	margin-left: 0;
}

.leaflet-bar {
	box-shadow: none;
}

.leaflet-touch .leaflet-bar {
	border: none;
}

.leaflet-bar a,
.leaflet-bar a:hover,
.leaflet-bar button,
.leaflet-bar button:hover,
.leaflet-left .leaflet-control-geosearch a,
.leaflet-left .leaflet-control-geosearch a:hover {
	background-color: #2574a9;
	border-bottom: 1px solid #ccc;
	color: white;
	width: 32px !important;
	height: 32px !important;
	line-height: 32px !important;
}

.leaflet-bar a.leaflet-disabled:hover {
	cursor: default;
	background-color: #f4f4f4;
	color: #bbb;
}

.leaflet-left .leaflet-bar :first-child {
	border-top-left-radius: 0 !important;
	border-top-right-radius: 8px !important;
}

.leaflet-left .leaflet-bar :last-child,
.leaflet-left .leaflet-control-geosearch a {
	border-bottom-left-radius: 0 !important;
	border-bottom-right-radius: 8px !important;
	border-bottom: none;
}

.leaflet-control-geosearch form {
	left: 26px;
	height: 32px;
	padding-left: 12px;
}

.leaflet-touch .leaflet-control-geosearch form {
	height: 28px;
}

.leaflet-control-geosearch form input {
	margin-top: 8px;
	font-size: 16px;
}

.leaflet-control-geosearch form input {
	margin-top: 6px;
}

.leaflet-control-geosearch .message {
	top: 32px;
	width: 236px;
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
}

button.cheap-active,
button.all-active,
button.showDataAge-active,
button.hideDataAge-active {
	padding: 0;
}

button.cheap-active span,
button.all-active span,
button.cheap-active i,
button.all-active i,
button.showDataAge-active span,
button.hideDataAge-active span,
button.showDataAge-active i,
button.hideDataAge-active i {
	line-height: 32px;
}

.leaflet-control-locate span {
	line-height: 32px;
}

.leaflet-control-locate.active a {
	color: #F5D76E;
}


/*
 * Legend
 */

.ofm-station-map-legend {
	background-color: white;
	padding: 4px;
}

.ofm-station-map-legend.hidden {
	display: none;
}

.ofm-station-map-legend-wrapper {
	width: 100%;
}

.ofm-station-map-legend-title {
	font-size: 1em;
	margin-bottom: 0;
	text-align: center;
}

.ofm-station-map-legend-colors,
.ofm-station-map-legend-prices {
	display: flex;
}

.ofm-station-map-legend-prices > span {
	font-size: 1.1em;
	text-align: center;
	flex-grow: 1;
}
.ofm-station-map-legend-prices > span:first-child {
	text-align: left;
}
.ofm-station-map-legend-prices > span:last-child {
	text-align: right;
}



/**
 * Alert
 */

.ofm-alert {
	background-color: #BDC3C7;
	color: black;
	font-size: 1.1em;
	text-align: center;
	padding: 5px;
}

.ofm-alert.hidden {
	display: none;
}

.ofm-alert.ofm-alert-info {
	background-color: #3498DB;
	color: white;
}

.ofm-alert.ofm-alert-warning {
	background-color: #F4B350;
}

.ofm-alert.ofm-alert-error {
	background-color: #EF4836;
	color: white;
}

.ofm-alert .fa {
	vertical-align: middle;
	margin-right: 5px;
}


/**
 * Styles for FuelSelector
 */

.ofm-fuel-selector {
	width: 100%;
	max-width: 768px;
	background-color: #2574A9;
	text-align: center;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	border-collapse: separate;
	border-spacing: 5px;
}

.ofm-fuel-selector a {
	flex: 1;
	flex-wrap: nowrap;
	border: 1px solid white;
	background-color: #2574A9;
	padding: 5px 0;
	margin: 5px 0 5px 5px;
	border-radius: 5px;
	cursor: pointer;
	color: white;
	overflow: hidden;
	text-overflow: ellipsis;
}

.ofm-fuel-selector a:last-child {
	margin-right: 5px;
}

.ofm-fuel-selector a.ofm-fuel-selector-selected {
	background-color: #019875;
}


/**
 * Station details
 */

.ofm-station-details {
	width: 100%;
	max-width: 768px;
	background-color: #F2F1EF;
}

.ofm-station-details-name,
.ofm-station-details-fuel,
.ofm-station-details-full {
	padding: 0 10px;
}

.ofm-station-details-name {
	display: inline-block;
}

.ofm-station-details h4 {
	font-size: 0.9em;
	color: #6C7A89;
	font-weight: initial;
	margin: 0;
}

.ofm-station-details-text {
	font-size: 1.0em;
	margin: 5px 0 10px 0;
}

.ofm-station-details-clearer {
	clear: both;
	line-height: 1px;
}


/*
 * Toggle
 */

.ofm-station-details-toggle {
	text-align: center;
	width: 100%;
	cursor: pointer;
	border-bottom: 1px solid #BDC3C7;
	color: #6C7A89;
}

.ofm-station-details-toggle:hover {
	background-color: #f7f7f7;
}

.ofm-station-details-close,
.ofm-station-details-edit {
	float: right;
	font-weight: bold;
	padding: 0 10px 5px 10px;
	cursor: pointer;
	font-size: 1.2em;
	color: #6C7A89;
}

.ofm-station-details-edit {
	padding: 0;
}


/*
 * Fuel price
 */

.ofm-station-details-fuel {
	float: right;
	padding: 10px;
}

.ofm-station-details-fuel > * {
	display: block;
	text-align: center;
}

.ofm-station-details-fuel-price {
	font-size: 1.2em;
	color: #22313F;
}

.ofm-station-details-fuel-price:not(:empty):after {
	content: " €";
}


/*
 * Full description
 */

.ofm-station-details-full.hidden {
	display: none;
}

/* Prices */
.ofm-station-details-full-prices {
	margin-bottom: 10px;
}

.ofm-station-details-full-prices > div {
	display: inline-block;
}

.ofm-station-details-full-prices > div > span:first-child {
	color: #6C7A89;
	font-size: 0.9em;
	font-weight: bold;
	margin-right: 10px;
}

.ofm-station-details-full-prices > div > span:last-child {
	margin-right: 30px;
}

.ofm-station-details-full-prices > div > span:last-child:after {
	content: " €";
}

/* Services */
.ofm-station-details-full-services {
	margin-bottom: 10px;
}

.ofm-station-details-full-services > span {
	display: inline-block;
	margin-right: 50px;
}


/**
 * Responsive
 */

@media (max-width: 768px) {
	header {
		text-align: center;
		height: 40px;
	}

	header img.logo {
		height: 30px;
	}

	#openfuelmap {
		top: 41px;
	}
}

@media (min-width: 768px) {
	.ofm-station-map {
		bottom: 0;
	}

	.ofm-fuel-selector {
		bottom: 20px;
		border-radius: 10px;
	}

	.ofm-station-details {
		bottom: 60px;
		max-width: 748px;
		border-radius: 10px 10px 0 0;
		border: 1px solid #DADFE1;
	}

	.ofm-station-details-toggle:hover {
		border-radius: 10px 10px 0 0;
	}
}

.leaflet-control-container .bannerContent.leaflet-control > .template1{
	background-color: white;
	padding: 4px;
}

.leaflet-control-container .bannerContent.leaflet-control h2 {
	margin-top: 2px;
	font-size: 1em;
}

.leaflet-control-container .bannerContent.leaflet-control label {
	margin-top: 2px;
	font-size: 1em;
	display: block;
	font-weight: bold;
}
.leaflet-control-container .bannerContent.leaflet-control input {
	display: block;
	margin-right: 0;
	margin-left: auto;
}

.leaflet-control-container .bannerContent.leaflet-control .close_banner {
	display: block;
	margin-right: 0;
	margin-left: auto;
	margin-top: 10px;
}

.leaflet-control-container .bannerContent.leaflet-control.collapsed .template1 {
	display: none;
}
.leaflet-control-container .bannerContent.leaflet-control .template2 {
	display: none;
}
.leaflet-control-container .bannerContent.leaflet-control.collapsed .template2 {
	display: block;
}
